<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright The WildFly Authors
	SPDX-License-Identifier: Apache-2.0
-->
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:sec="http://www.springframework.org/schema/security"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>

	<bean class="org.wildfly.clustering.spring.web.infinispan.embedded.config.InfinispanWebSessionConfiguration">
		<property name="granularity">
			<value type="org.wildfly.clustering.spring.context.SessionPersistenceGranularity">SESSION</value>
		</property>
		<property name="marshallerFactory">
			<value type="org.wildfly.clustering.spring.context.SessionMarshallerFactory">JBOSS</value>
		</property>
	</bean>

	<bean name="sessionHandler" class="org.wildfly.clustering.spring.web.context.SessionHandler"/>
	<bean class="org.springframework.web.reactive.handler.SimpleUrlHandlerMapping">
		<constructor-arg>
			<map>
				<entry key="/session" value-ref="sessionHandler"/>
			</map>
		</constructor-arg>
	</bean>

	<bean name="webHandler" class="org.springframework.web.reactive.DispatcherHandler"/>
	<bean class="org.springframework.web.reactive.result.SimpleHandlerAdapter"/>

</beans> 